<h1> Details</h1>
<p>
   Name: <%= @card.name %>
</p>
<p>
   Category: <%= @card.category %>
</p>
<p>
   Industry: <%= @card.industry %>
</p>

<p>
  <%= link_to "Back", cards_path  %>
</p>


<p>
  <%= link_to "Create Card", new_card_path  %>
</p>


<p>
  <%= link_to "Edit Card", edit_card_path(@card)  %>
</p>
