<p>
  <strong>Name:</strong>
  <%= @wine_mart.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @wine_mart.category %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @wine_mart.industry %>
</p>
<td><%= link_to "Create Wine Mart", new_wine_mart_path %></td>  
<br>
<td><%= link_to "Back", wine_marts_path %></td>

