<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to "Headers Sample","" %> <%= link_to "Headers Sample","" %>
      <br>
        <%= yield %>
      <br>
      <%= link_to "Headers Sample","" %> <%= link_to "Headers Sample","" %>
  </body>
</html>
